.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/*搜索框*/

/*主页商店栏*/
.showSection {
  height: 192px;
  width: 192px;
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 15px;
  margin-right: 15px;
  float: left;
  background: white;
  border-radius: 5px;
  box-shadow: 0.1px 0.1px 20px gainsboro;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}

.showSection:hover {
  box-shadow: 1px 1px 50px gainsboro;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

.hover :hover {
  -webkit-transform: rotate(1turn);
  transform: rotate(1turn);
  -webkit-transition: all .5s;
  transition: all .5s;
}

/*personshop*/
.personshop-shadow {
  width: 35%;
  box-shadow: 0.1px 0.1px 20px gainsboro;
  height: 220px;
  margin-bottom: 50px;
  margin-left: 5%;
  margin-right: 10%;
  background-color: snow;
  border-radius: 5px;
  float: left;
  word-wrap: break-word;
  word-break: normal;
  border-radius: 5px;
}

.personshop-shadow:hover .personshop_hover {
  position: relative;
  z-index: 1;
  top: -40%;
}

.personshop-shadow:hover img {
  opacity: 0.5;
}

.personshop-shadow:hover .form_hover {
  display: block;
}

.personshop_hover {
  border-radius: 5px;
  background-color: white;
  top: -10px;
  transition: top 1s;
  -moz-transition: top 1s;
  -webkit-transition: top 1s;
  -o-transition: top 1s;
  margin-top: -15%;
}

.form_hover {
  display: none;
}

/***************************************************************test*/
.m-tip {
  border: 4px solid #ccc;
  color: #999;
  width: 1000px;
  height: 300px;
  margin: 200px auto;
  text-align: center;
  line-height: 30px;
  padding-top: 100px;
  cursor: pointer;
}

.m-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  background: #000;
  z-index: 2000;
  width: 35px;
  height: 100%;
  font-size: 12px;
  color: #fff;
}

.m-sidebar .cart {
  color: #fff;
  text-align: center;
  line-height: 20px;
  padding: 200px 0 0 0px;
  top: 100px;
}

.m-sidebar .cart span {
  display: block;
  width: 20px;
  margin: 0 auto;
}

.m-sidebar .cart i {
  width: 35px;
  height: 35px;
  display: block;
}

.u-flyer {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: fixed;
  z-index: 9999;
}







