<form class="form-horizontal">
  <div class="form-group form-group-mg">
    <div class="col-sm-10">
      <input class="form-control" type="text" placeholder="输入商店名称或店主名" ng-model="name">
    </div>
    <button class="col-sm-2 btn btn-primary">搜索</button>
  </div>
</form>
<div style="width: 100%;margin-top: 10px;word-wrap: break-word;
word-break: normal; " ng-controller="ShopListCtrl">
  <div class="showSection" ng-repeat="shop in shops|filter:name">
    <div align="center" style="margin-top: -30px"><img ng-src="{{shop.imgsrc}}" class="img-responsive img-circle" alt="头像" width="40%"></div>
    <p align="center" class="lead" style="margin-top: 10px">{{shop.title}}</p>
    <p align="center">{{shop.master}}</p>
  </div>
</div>

