<div class="row" style="background-color:	#D3D3D3;padding: 50px 0 50px 0">
  <div class="col-xs-4">
    <div  align="center">
      <img ng-src="{{shop.imgsrc}}" alt="头像" class="img-responsive img-circle">
      <p class="lead">{{shop.title}}</p>
      <p>{{shop.master}}</p>
      <p>{{shop.telephone}}</p>
    </div>
  </div>
  <div class="col-xs-8">
    <div class="personshop-shadow" ng-repeat="good in goods" align="center" >
      <img ng-src="{{good.imgsrc}}" alt="" width="100%" >
      <div class="personshop_hover">
        <h2>{{good.name}}</h2>
        <p>单价：{{good.price}}元</p><br>
        <form class="form-inline form_hover">
            <br>
          <button type="submit" class="btn btn-primary" ng-click="delete($index,$event)">删除</button>
        </form>
      </div>
    </div>
    <div class="personshop-shadow-add"  align="center" >
      <img src="images/add.png" alt="" width="50%" style=" cursor: pointer" data-toggle="JDialog" data-target="dialog-4">
    </div>
  </div>
</div>
<div class="jDialog" id="dialog-4">
  <div class="login-panel panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">请选择提交的产品</h3>
    </div>
    <div class="panel-body">
      <form role="form" name="form" method="POST" enctype="multipart/form-data" action="http://mvc.y1code.cn:8080/goods/create">
        <div class="form-group">
          <label>商品名：</label>
          <input type="text" class="form-control" ng-model="goodname" name="name">
        </div>
        <div class="form-group">
          <label>单价：</label>
          <input type="text" class="form-control" placeholder="以元为单位" ng-model="unitprice" name="price">
        </div>
        <div class="form-group">
          <label class="control-label" >请上传一张图片:</label>
          <input id="input-id" type="file" class="file" data-preview-file-type="text" name="file">
        </div>
        <p align="center"><button class="btn btn-success btn-lg" data-dismiss="JDialog" id="test">提交</button></p>
      </form>
    </div>
  </div>
</div>




