<div class="test1" style="background-color:#000;height: 500px;width: 500px">
  <div class="test2" style="background-color: red;height: 300px;width:300px;"></div>
</div>

<div class="m" style="height: 500px;width: 500px;background-color: #00A000">
  懒人之家提示：<br />
  点击方框，实现加入购物车效果
</div>
<div class="m-sidebar">
  <div class="cart">
    <i id="end"></i>
    <span>购物车</span>
  </div>
</div>

<!--<script>-->
  <!--$('.m').on('click', addCart);-->
  <!--function addCart(event) {-->
    <!--var offset = $('#end').offset(), flyer = $('<div>123</div>');-->
    <!--flyer.fly({-->
      <!--start: {-->
        <!--left: event.pageX,//当前鼠标的坐标-->
        <!--top: event.pageY-100-->
      <!--},-->
      <!--end: {-->
        <!--left: offset.left,-->
        <!--top: offset.top,-->
        <!--width: 20,-->
        <!--height: 20-->
      <!--}-->
    <!--});-->
  <!--}-->
<!--</script>-->

